.content{
	padding-top: 50px;
}
table{
	border: 1px solid #FFFFFF;
	background-color: #e4e4e4;
	text-align: center;
	margin: 0 auto;
}
table th{
	border:1px solid #FFFFFF;
	width: 120px;
	height: 100px;
}
table td{
	border:1px solid #FFFFFF;
}
#photo{
	width: 50px;
	height: 50px;
}
table td:nth-child(8) img{
	width: 20px;
	height: 20px;
	margin: 0 5px;
	transition: all 0.6s ease-in-out;
	border: 0px;
}
table td:nth-child(8) img:hover{
	transform: rotate(360deg);
}
.buttons span{
	font-size: 20px;
}
input{
	margin-right: 40px;
}
#file{
	display: none;
}
#path{
	height: 30px;
	width: 218px;
	border: 1px solid #000000;
	border-radius: 10px;
	margin-top: 5px;
}
#add,#submit,#view{
	height: 40px;
	width: 150px;
	border-radius: 40px;
	border: 1px solid #000000;
	color: white;
	background-color: black;
	margin-right: 20px;	
}
#view{
	margin-right: 0;
}
#add{
	position: relative;
	top: 40px;
	left: 980px;
}
#sidebar ul li:nth-child(4) a{
    background-color: rgb(78,84,101);
}
