<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.board.BoardMapper">
    <resultMap id="board" type="com.pandawork.common.entity.board.Board" >
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="day" column="day"/>
        <result property="state" column="state"/>
        <result property="title" column="title"/>

    </resultMap>

    <select id="queryById" resultMap="board" >
        SELECT *
        FROM `t_board_out`
        WHERE `id` = #{id}
    </select>

    <select id="queryByKeyword" resultMap="board">
        SELECT *
        FROM `t_board_out`
        WHERE `content` LIKE '%${keyword}%'

    </select>
    <select id="queryByTitle" resultType="board">
        SELECT *
        FROM `t_board_out`
        WHERE `title` = #{title}
    </select>
    <insert id="newBoard">
        INSERT INTO `t_board_out`
        (`content`,`year`,`month`,`day`,`state`,`title`)
        VALUES ( #{board.content},#{board.year},#{board.month},#{board.day},#{board.state},#{board.state})
    </insert>

    <update id="update">
        UPDATE `t_board_out`
        SET
        `content` = #{board.content},
        `year` = #{board.year},
        `month` = #{board.month},
        `state` = #{board.state},
        `title` = #{board.title},
        `day` = #{board.day}
        WHERE `id` = #{board.id}
    </update>

    <delete id="delById">
        DELETE FROM `t_board_out`
        WHERE `id` = #{id}
    </delete>

    <select id="listAll" resultMap="board">
        SELECT *
        FROM `t_board_out`
    </select>

</mapper>