/*公告管理*/
.addPic,.deletePic,.updatePic{
    width: 15px;
    height: 15px;
}
.content{
    /*通过padding来定位*/
    padding-top: 50px;
}
table{
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    background-color: #e4e4e4;
    border: 1px solid #FFFFFF;
}
th,td{
    border: 1px solid #FFFFFF;
}
th{
    width: 160px;
    height: 40px;
}
td{
    width: 160px;
    height: 100px;
    font-size: 15px;
}
#addbtn{
    position: relative;
    top: 40px;
    left: 1000px;
    height: 40px;
    width: 150px;
    border-radius: 40px;
    border: 1px solid #000000;
    color: white;
    background-color: black;
    margin-right: 20px;
}
#sidebar ul li:nth-child(3) a{
    background-color: rgb(78,84,101);
}
