@charset "UTF-8";
/* CSS Document */
/*表单*/
/*表格*/
h1{
    text-align: center;
}
table{
    border-collapse: collapse;/*单边框*/
    width: 40%;
    margin: 40px auto;
    box-shadow: 5px 5px 5px #888888;
    table-layout: fixed;
}
td{
    border: #000000 solid 1px;
    width:12%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.miaomiaomiao{
    display: none;
}
/*输入框透明背景*/
.fullinput{
    background-color: inherit;
    border: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
}
.smallinput{
    background-color: inherit;
    border: hidden;
    text-align: center;
    width: 40%;
}
.mininput{
    background-color: inherit;
    border: hidden;
    text-align: center;
    width: 30%;
}
.maxinput{
    background-color: inherit;
    border: hidden;
    text-align: center;
    width: 100%; /*自动适应父布局宽度*/
    height: 200px;
    overflow: auto;
    word-break: break-all;
    border: hidden;
    resize: none;
}