<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.beauty.BeautyMapper">

    <resultMap id="beauty" type="com.pandawork.common.entity.beauty.Beauty" >
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="path" column="path"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="listAllBeauty" resultMap="beauty">
        SELECT *
        FROM `t_beauty_out`
    </select>

    <insert id="addBeauty">
        INSERT INTO `t_beauty_out`
        (`name`,`path`)
        VALUES (#{beauty.name}, #{beauty.path})
    </insert>

    <delete id="delBeauty">
        DELETE FROM `t_beauty_out`
        WHERE `id` = #{id}
    </delete>

    <update id="updateBeauty">
        UPDATE `t_beauty_out`
        SET `name` = #{beauty.name},
            `path` = #{beauty.path},
            `status` = #{beauty.status}
        WHERE `id` = #{beauty.id}
    </update>

    <select id="selectById" resultMap="beauty" >
        SELECT *
        FROM `t_beauty_out`
        WHERE `id` = #{id}
    </select>
</mapper>