.content{
    /*通过padding来定位*/
    padding-top: 50px;
}
table {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    background-color: #e4e4e4;
    border: 1px solid #FFFFFF;
}
table td:nth-child(1) img{
    width: 200px;
    height: 200px;
}
table td:nth-child(3) img{
    width: 30px;
    height: 30px;
    opacity: 0.5;
    padding-right: 20px;
}
table td:nth-child(1){
    width: 250px;
}
table td:nth-child(2){
    width: 250px;
}
table td input{
    text-align: center;
}
table td:nth-child(3){
    width: 100px;
}
table td:nth-child(4){
    width: 250px;
}
table th{
    height: 50px;
    border: 1px solid #FFFFFF;
}
table td{
    height: 200px;
    border: 1px solid #FFFFFF;
}
table button{
    height: 40px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid #000000;
    color: white;
    background-color: black;
    margin-right: 20px;
}
#change{
    border: 1px solid #E4E4E4;
    background-color: #E4E4E4;
}
#besure{
    height: 40px;
    width: 80px;
    border-radius: 40px;
    border: 1px solid #000000;
    color: white;
    background-color: black;
    margin-right: 20px;
}
/*.buttons span{*/
/*font-size: 20px;*/
/*}*/
/*.buttons input{*/
/*margin-right: 40px;*/
/*}*/
/*#file{*/
/*display: none;*/
/*}*/
/*#path{*/
/*height: 30px;*/
/*width: 218px;*/
/*border: 1px solid #000000;*/
/*border-radius: 10px;*/
/*margin-top: 5px;*/
/*}*/
/*#submit,#view{*/
/*height: 40px;*/
/*width: 150px;*/
/*border-radius: 40px;*/
/*border: 1px solid #000000;*/
/*color: white;*/
/*background-color: black;*/
/*margin-right: 20px;	*/
/*}*/
#sidebar ul li:nth-child(2) a{
    background-color: rgb(78,84,101);
}
.choice{
    width: 20px;
    height: 20px;
}

